/.git
/.gitignore
/.vscode
/.idea
/node_modules
**/node_modules
/miniprogram_npm
/cloudfunctions
/functions
/server
/contracts
/pages
/components
/common
/config
/model
/services
/style
/utils
/custom-tab-bar
/scripts
/server.zip
*.zip
*.log
